<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('.form-collections-add_button').click(function (e) {
            e.preventDefault();
            var ul = jQuery('#' + jQuery(this).attr('data-target'));
            var newWidget = ul.attr('data-prototype');
            newWidget = jQuery(newWidget.replace(/__name__/g, ul.attr('data-count')));

            var newLi = jQuery('<li class="inner-form row well">').html(jQuery('<div class="col-xs-10"></div>').html(newWidget)) ;
//            newLi.append('<div class="col-xs-10">' + newWidget);

            var removeButton = jQuery('<div class="col-xs-2 text-right"><a class="btn btn-sm btn-danger ' +
            'form-collection-remove-button" ' +
            'data-target="' + ul.attr('data-base_id') + '_' + ul.attr('data-count') + '"><i class="fa fa-trash"></i> Eliminar</a></div>');
            removeButton.on('click', function (e) {
                e.preventDefault();
                jQuery(this).parent().remove();
            });

            newLi.append(removeButton);

            newLi.appendTo(ul);
            ul.attr('data-count', ul.attr('data-count') + 1);
        });

        jQuery('.form-collection-remove-button').click(function (e) {
            e.preventDefault();

            var elem = jQuery('#' + jQuery(this).attr('data-target'));
            elem.parents('li').remove();
        });
    })
</script>

