<option value="">{{ 'filter.none' | trans }}</option>
{% for value, entity in entities %}
    <option {% if field_selected == value %}selected="selected"{% endif %} value="{{ value }}">{{ entity | default(value) }}</option>
{% endfor %}